body {
    margin: 0 auto;
    width: 90%;
}
table, th, td {
    border: 1px solid black;
    min-width: 75%;
    max-width: 75%;
    text-align: center;
}
.p {
    max-width: 600px;
}
.u_title::before {
    content:"";
    position: absolute;
    border-bottom:1px solid black; /*use this to adjust underlin color and size*/
    width:90%;  /*use this to adjust underline width*/
    height:1.1em; /*use this to adjust underline position*/
}
#film-icon-g {
    pointer-events: all;
}
.tooltip {
    position: absolute;
    min-width: 225px;
    max-width: 300px;								
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border-radius: 8px;			
    pointer-events: none;			
}
ul.tooltip {
    list-style: inside;
    padding: 5px;
}